In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("movies.csv")

In [3]:
plotDF = df.loc[:, ['name', 'description']]

In [5]:
plotDF.loc[:, 'name'] = plotDF.loc[:, 'name'].str.lower()
plotDF.loc[:, 'description'] = plotDF.loc[:, 'description'].str.lower()
plotDF.dropna(subset = ["description"], inplace=True)
plotDF

,name,description
0,neerja,neerja is the story of the courageous neerja b...
1,udta punjab,a story that revolves around drug abuse in the...
2,kabhi khushi kabhie gham...,yashvardhan raichand lives a very wealthy life...
3,kal ho naa ho,"naina, an introverted, perpetually depressed g..."
4,parched,'parched' is a story about women set in the he...
...,...,...
2838,run antony,antony is depressed and wants to commit suicid...
2841,jolly days,"a bubbly tale, the story is about four pairs o..."
2842,the great story of sodabuddi,"the film tells the story of sodabuddi, who spe..."
2844,vamshi,"vamshi, under the eye of his mother is living ..."
2847,chaddi dosth,the plot is simple. ranganna (rangayana raghu)...

In [6]:
plotDF = plotDF.drop_duplicates()
plotDF

,name,description
0,neerja,neerja is the story of the courageous neerja b...
1,udta punjab,a story that revolves around drug abuse in the...
2,kabhi khushi kabhie gham...,yashvardhan raichand lives a very wealthy life...
3,kal ho naa ho,"naina, an introverted, perpetually depressed g..."
4,parched,'parched' is a story about women set in the he...
...,...,...
2838,run antony,antony is depressed and wants to commit suicid...
2841,jolly days,"a bubbly tale, the story is about four pairs o..."
2842,the great story of sodabuddi,"the film tells the story of sodabuddi, who spe..."
2844,vamshi,"vamshi, under the eye of his mother is living ..."
2847,chaddi dosth,the plot is simple. ranganna (rangayana raghu)...

In [7]:
plotDF.to_csv('dataset.csv')

In [10]:
indices = pd.Series(plotDF.index, index = plotDF['name'])
indices.head()
indices.to_csv('indices.csv')

In [23]:
from sklearn.metrics.pairwise import linear_kernel
from sklearn.feature_extraction.text import TfidfVectorizer
def plot_based_recommender(title, df = plotDF, cosine_sim = cosine_sim, indices = indices):
    tfidf = TfidfVectorizer(stop_words = 'english')
    tfidf_matrix = tfidf.fit_transform(plotDF['description'])
    cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)
    title = title.lower()
    
    try:
        idx = indices[title]
        print(idx)
    
    except KeyError:
        print('Movie does not exist :(')
        return False

    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key = lambda x: x[1], reverse = True)
    sim_scores = sim_scores[1:11]
    
    return sim_scores

In [24]:
plot_based_recommender('Pyaar Ka Punchnama')

146

[(105, 0.6471569244845783),
 (72, 0.3018031509442602),
 (1397, 0.19890719714591554),
 (1448, 0.1671644069430149),
 (164, 0.16335983699192846),
 (3, 0.15773651209948913),
 (490, 0.15727307825512746),
 (353, 0.13949811247949884),
 (1233, 0.1284247279579144),
 (1373, 0.12484794892003166)]

In [32]:
indices = pd.read_csv("indices.csv")
indices.index[indices['name']=="udta punjab"].tolist()

[1]